/* Fonts */
@font-face {
    font-family: montserrat;
    src: url(Montserrat-Regular.ttf);
}

@font-face {
    font-family: montserrat;
    src: url(Montserrat-Bold.ttf);
    font-weight: bold;
}

/* Initial page setup. */
html {
    background-color: black;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Removing the dotted outline from links, e.g. the social media buttons. */
a:focus {
    outline: none;
}

#backgroundTop {
    z-index: -1;
    width: 100%;
    position: absolute;
    top: 0;
}

#backgroundMiddle {
    z-index: -1;
    width: 100%;
    color: black;
    position: absolute;
    top: 960px;
}

#backgroundBottom {
    z-index: -1;
    width: 100%;
    position: absolute;
    top: 1635px;
}

#homePage {
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
    color: #FFF;
    width: 1240px;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 260px;
}

.navbar {
    margin-top: 65px;
    height: 60px;
    font-family: montserrat;
    font-size: 13pt;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.navButton {
    height: 40px;
    width: 206.5px;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    float: left;
    padding-top: 20px;
}

.navButton:hover {
    background-color: #333;
    background-color: rgba(255,255,255,0.1)
}

#socialMediaContainer {
    text-align: center;
    margin-top: 55px;
}

.socialLink {
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 50%;
}

.socialHover:hover {
    border-radius: 50%;
    background-color: #333;
    background-color: rgba(255,255,255,0.1)
}

#content {
    width: 100%;
    margin-top: 120px;
}

.title {
    font-family: montserrat;
    font-weight: bold;
    font-size: 30pt;
    color: black;
}

.title:first-child {
    padding-top: 70px;
}

#welcomeContainer {
    background-color: white;
    padding-bottom: 70px;
    text-align: center;
}

#contentText {
    font-family: Times;
    font-style: italic;
    font-size: 15pt;
    color: black;
    width: 50%;
    margin: 15px auto 0 auto;
}

#imageLinksContainer {
    width: 100%;
    height: 310px;
}

#imageLink1 {
    width: 25%;
    background: url(/media/bookings.jpg);
    display: block;
    cursor: pointer;
    float: left;
}

#imageLink2 {
    width: 25%;
    background: url(/media/menus.jpg);
    display: block;
    cursor: pointer;
    float: left;
}

#imageLink3 {
    width: 25%;
    background: url(/media/locations.jpg);
    display: block;
    cursor: pointer;
    float: left;
}

#imageLink4 {
    width: 25%;
    background: url(/media/contact.jpg);
    display: block;
    cursor: pointer;
    float: left;
}

.imageOverlay {
    position: relative;
    top: 0;
    left: 0;
    width: 310px;
    height: 310px;
    background: #000;
    opacity: 0;
    transition: opacity 0.35s;
}


.imageOverlay:hover {
    opacity: .7;
}

#bookingsTextOverlay1 {
    color: white;
    top: 0;
    left: 0;
    width: 310px;
    height: 310px;
    background: url(/media/bookatable.png);
    opacity: 0;
    transition: opacity 0.35s;
}

#bookingsTextOverlay2 {
    color: white;
    top: 0;
    left: 0;
    width: 310px;
    height: 310px;
    background: url(/media/seeourmenus.png);
    opacity: 0;
    transition: opacity 0.35s;
}

#bookingsTextOverlay3 {
    color: white;
    top: 0;
    left: 0;
    width: 310px;
    height: 310px;
    background: url(/media/findus.png);
    opacity: 0;
    transition: opacity 0.35s;
}

#bookingsTextOverlay4 {
    color: white;
    top: 0;
    left: 0;
    width: 310px;
    height: 310px;
    background: url(/media/contact.png);
    opacity: 0;
    transition: opacity 0.35s;
}

#bookingsTextOverlay1:hover, #bookingsTextOverlay2:hover, #bookingsTextOverlay3:hover, #bookingsTextOverlay4:hover{
    opacity: 1;
}

#slideshow {
    color: black;
    float: left;
}

#slideshowImages {
    z-index: -1;
    position: absolute;
    text-align: left;
}

#slideshowButtons {
    margin: 450px auto 0 550px;
    text-align: center;
}

.slideshowButton {
    margin: 0 5px 0 5px;
    padding: 0;
    -moz-transition: transform .25s;
    -o-transition: transform .25s;
    -webkit-transition: transform .25s;
    transition: transform .25s;
}

.slideshowButton:hover {
    transform: rotate(315deg);
    cursor: pointer;
}

#connectContainer {
    margin-top: 60px;
}

#clearfix {
    clear: both;
}

#twitterContainer {
    width: 400px;
    height: 400px;
    float: left;
    margin-right: 10px;
}

#instagramContainer {
    width: 400px;
    height: 400px;
    float: left;
    margin: 0 10px 0 10px;
}

#signupContainer {
    width: 400px;
    height: 400px;
    float: left;
    margin-left: 10px;
}

.connectTitles {
    font-family: montserrat;
    font-size: 16pt;
    text-align: center;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

.connectFlavour {
    font-family: Times;
    font-style: italic;
    font-size: 16pt;
    text-align: center;
    margin: 0 35px 0 35px;
}

.followButtons {
    height: 30px;
    width: 50%;
    font-family: montserrat;
    font-weight: bold;
    font-size: 16px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin: 15px auto 20px auto;
    padding-top: 10px;
}

.followButtons:hover {
    background-color: #333;
    background-color: rgba(255,255,255,0.1)
}

#twitterFeed {
    font-family: Times;
    font-size: 14pt;
    font-style: italic;
    margin: 0 30px 0 30px;
    clear: both;
}

#instagramImages {
    clear:both;
}

#feedTime {
    font-family: Times;
    font-size: 14pt;
    font-style: italic;
    margin: 0 30px 0 30px;
    text-align: right;
}

#instagramImage1 {
    float: left;
}

#instagramImage2 {
    float: right;
}

#detailsContainer {
    margin-top: 50px;
    width: 75%;
    font-family: Times;
    font-size: 14pt;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

.signupFields {
    padding: 3px 3px 5px 20px;
    border: 1px solid white;
    margin-bottom: 15px;
    height: 23px;
}

.signupFieldsLast {
    padding: 3px 3px 5px 20px;
    border: 1px solid white;
    height: 23px;
}

.signupForms {
    float: right;
}

#dayContainer select {
    background: transparent;
    width: 68px;
    font-family: Times;
    font-style: italic;
    font-size: 14pt;
    color: white;
    height: 25px;
    border: none;
    -webkit-appearance: none;
}

#dayContainer {
    float: left;
    width: 50px;
    height: 25px;
    overflow: hidden;
    border: none;
    margin-left: 35px;
    background: url(/media/arrowButton.png) no-repeat right transparent;
}

#monthContainer select {
    background: transparent;
    width: 68px;
    color: white;
    font-family: Times;
    font-style: italic;
    font-size: 14pt;
    height: 25px;
    border: none;
    -webkit-appearance: none;
}

#monthContainer {
    float: left;
    width: 50px;
    height: 25px;
    overflow: hidden;
    border: none;
    margin-left: 20px;
    background: url(/media/arrowButton.png) no-repeat right transparent;
}

.signupInput {
    border: none;
    background-color: transparent;
    font-family: Times;
    font-style: italic;
    font-size: 12pt;
    color: white;
    padding-right: 25px;
}

.signupText {
    width: 85px;
    border-right: 1px solid white;
    float: left;
}

#footer {
    clear: both;
    border-top-style: double;
    border-color: white;
    height: 135px;
    width: 1240px;
    margin-right: auto;
    margin-left: auto;
    color: white;
}

#footerLinks {
    font-family: montserrat;
    font-size: 15px;
    width: 90%;
    margin: 25px auto auto auto;
    margin-bottom: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
}

.linkDividers {
    border-right: 2px solid white;
}

.socialMini {
    padding-right: 0;
}

.socialMini:hover {
    background: none;
}

.underlined:hover {
    text-decoration: underline;
}

#footerSignature {
    display: block;
    position: relative;
    margin: 30px auto 0 auto;
}