<!DOCTYPE html>
<html lang="en-GB">
<head>
	<meta charset="utf-8">
	<title>Propeller Landing Page</title>
	<script src="js/angular.min.js"></script>
	<script src="js/app.js"></script>
	<link rel="stylesheet" href="css/styles.css">
</head>
<body data-ng-app="angular">
	<img id=backgroundTop src="/media/backgroundTop.jpg" alt="Background Top"></div>
	<img id=backgroundMiddle src="/media/backgroundMiddle.jpg" alt="Background Middle">
	<img id=backgroundBottom src="/media/backgroundBottom.jpg" alt="Background Bottom">
	<div id=homePage>
		<img id=logo src="media/logo.png" alt="Site Logo">
		<div class=navbar>
			<a href="#about"><div class=navButton>ABOUT</div></a>
			<a href="#menus"><div class=navButton>MENUS</div></a>
			<a href="#locations"><div class=navButton>LOCATIONS</div></a>
			<a href="#bookings"><div class=navButton>BOOKINGS</div></a>
			<a href="#gallery"><div class=navButton>GALLERY</div></a>
			<a href="#contact"><div class=navButton>CONTACT</div></a>
		</div>
		<div id=socialMediaContainer>
			<a href="https://facebook.com/" class=socialLink><img class="socialHover" src="media/facebook.png" alt="Facebook Link"></a>
			<a href="https://twitter.com/" class=socialLink><img class="socialHover" src="media/twitter.png" alt="Twitter Link"></a>
			<a href="https://instagram.com/" class=socialLink><img class="socialHover" src="media/instagram.png" alt="Instagram Link"></a>
		</div>
		<div id=content>
			<div id=welcomeContainer>
				<div class=title>WELCOME TO PBT,</div>
				<div class=title>PROPELLER!</div>
				<div id=contentText>Dolor fugit ipsum iure expedita quos itaque quas omnis. Harum consequatur nihil alias molestiae esse commodi tempore. Libero reiciendis asperiores vel ipsum facere enim. Ducimus illum laborum assumenda.</div>
			</div>
			<div id=imageLinksContainer>
				<a href="#bookings"><div id=imageLink1 src="/media/bookings.jpg" alt="Book a table."><div class=imageOverlay><div id=bookingsTextOverlay1></div></div></div></a>
				<a href="#menus"><div id=imageLink2 src="/media/menus.jpg" alt="See our menus."><div class=imageOverlay><div id=bookingsTextOverlay2></div></div></div></a>
				<a href="#locations"><div id=imageLink3 src="/media/locations.jpg" alt="Find us."><div class=imageOverlay><div id=bookingsTextOverlay3></div></div></div></a>
				<a href="#contact"><div id=imageLink4 src="/media/contact.jpg" alt="Contact us."><div class=imageOverlay><div id=bookingsTextOverlay4></div></div></div></a>
			</div>
			<div id=slideshow data-ng-controller="slidesController">
				<img id=slideshowImages src="/media/slideshow1.jpg" data-ng-src={{image}} alt="Slideshow Images.">
				<div id=slideshowButtons>
					<img class='slideshowButton' src="/media/slideshowButton.jpg" alt="Slideshow Button" data-ng-click="image1($event)">
					<img class='slideshowButton' src="/media/slideshowButton.jpg" alt="Slideshow Button" data-ng-click="image2($event)">
					<img class='slideshowButton' src="/media/slideshowButton.jpg" alt="Slideshow Button" data-ng-click="image3($event)">
					<img class='slideshowButton' src="/media/slideshowButton.jpg" alt="Slideshow Button" data-ng-click="image4($event)">
					<img class='slideshowButton' src="/media/slideshowButton.jpg" alt="Slideshow Button" data-ng-click="image5($event)">
					<img class='slideshowButton' src="/media/slideshowButton.jpg" alt="Slideshow Button" data-ng-click="image6($event)">
				</div>
			</div>
		</div>
		<div id=clearfix></div>
		<div id=connectContainer data-ng-controller="followsController">
			<div id=twitterContainer>
				<div class=connectTitles>TWITTER</div>
				<div class=connectFlavour>@PBT_propeller</div>
				<div class=followButtons data-ng-click="twitterFollow($event)">FOLLOW</div>
				<div id=twitterFeed>Dolor fugit ipsum iure expedita quos itaque quas omnis. Harum consequatur nihil alias molestiae esse commodi tempore. Libero reiciendis asperiores vel ipsum facere enim. Ducimus illum laborum assumenda.</div>
				<div id=feedTime>an hour ago</div>
			</div>
			<div id=instagramContainer>
				<div class=connectTitles>INSTAGRAM</div>
				<div class=connectFlavour>PBT_propeller</div>
				<div class=followButtons data-ng-click="instagramFollow($event)">FOLLOW</div>
				<div id=instagramImages>
					<img id=instagramImage1 alt="Instagram Image 1" src="/media/instagram1.jpg">
					<img id=instagramImage2 alt="Instagram Image 2" src="/media/instagram2.jpg">
				</div>
			</div>
			<div id=signupContainer>
				<div class=connectTitles>SIGN UP</div>
				<div class=connectFlavour>Subscribe to our newsletter and never miss out on exclusive offers!</div>
				<div id=detailsContainer>
					<div class=signupFields>
						<div class=signupText>name</div>
						<form class=signupForms>
							<input class=signupInput type="text" name="name">
						</form>
					</div>
					<div class=signupFields>
						<div class=signupText>email</div>
						<form class=signupForms>
							<input class=signupInput type="text" name="email">
						</form>
					</div>
					<div class=signupFieldsLast>
						<div class=signupText>birthday</div>
						<div id=dayContainer>
							<select>
								 <option value="dd" disabled selected hidden>dd</option>
								 <option value="1">1</option>
								 <option value="2">2</option>
								 <option value="3">3</option>
								 <option value="4">4</option>
								 <option value="5">5</option>
								 <option value="6">6</option>
								 <option value="7">7</option>
								 <option value="8">8</option>
								 <option value="9">9</option>
								 <option value="10">10</option>
								 <option value="11">11</option>
								 <option value="12">12</option>
								 <option value="13">13</option>
								 <option value="14">14</option>
								 <option value="15">15</option>
								 <option value="16">16</option>
								 <option value="17">17</option>
								 <option value="18">18</option>
								 <option value="19">19</option>
								 <option value="20">20</option>
								 <option value="21">21</option>
								 <option value="22">22</option>
								 <option value="23">23</option>
								 <option value="24">24</option>
								 <option value="25">25</option>
								 <option value="26">26</option>
								 <option value="27">27</option>
								 <option value="28">28</option>
								 <option value="29">29</option>
								 <option value="30">30</option>
								 <option value="31">31</option>
							</select>
						</div>
						<div id=monthContainer>
							<select>
								<option value="mm" disabled selected hidden>mm</option>
								<option value="January">January</option>
								<option value="February">February</option>
								<option value="March">March</option>
								<option value="April">April</option>
								<option value="May">May</option>
								<option value="June">June</option>
								<option value="Juli">Juli</option>
								<option value="August">August</option>
								<option value="September">September</option>
								<option value="October">October</option>
								<option value="November">November</option>
								<option value="December">December</option>
						</select>
						</div>
						</div>
					</div>
				<div class=followButtons data-ng-click="submitUser($event)">SUBMIT</div>
				</div>
			</div>
		</div>
	</div>
	<div id=footer>
		<div id=footerLinks>
			<ul>
				<li><a class="linkDividers" href="#PBTPropeller"><div class="underlined">PBT Propeller</div></a></li>
				<li><a class="linkDividers" href="#1-3WindsorCourt"><div class="underlined">1-3 Windsor Court</div></a></li>
				<li><a class="linkDividers" href="#Rugby"><div class="underlined">Rugby</div></a></li>
				<li><a class="linkDividers" href="#Warwickshire"><div class="underlined">Warwickshire</div></a></li>
				<li><a class="linkDividers" href="#CV213BH"><div class="underlined">CV21 3BH</div></a></li>
				<li><a class="linkDividers" href="#pbt@propcom.co.uk"><div class="underlined">pbt@propcom.co.uk</div></a></li>
				<li><a class="linkDividers" href="#01788566270"><div class="underlined">01788 566270</div></a></li>
				<li><a class="socialMini" href="#facebook"><img src="/media/facebook_small.png" alt="Facebook Mini Icon" style="width:15px"></a></li>
				<li><a class="socialMini" href="#twitter"><img src="/media/twitter_small.png" alt="Facebook Mini Icon" style="width:15px"></a></li>
				<li><a class="socialMini" href="#instagram"><img src="/media/instagram_small.png" alt="Facebook Mini Icon" style="width:15px"></a></li>
			</ul>
		</div>
		<a href="#top"><img id=footerSignature src="/media/sig.png" alt="Footer Signature"></a>
	</div>
</body>
</html>